In [3]:
# CodeUp curriculum statistics exercises

In [4]:
# On a side note, I'm extremely excited to be learning statistics and using python/numpy to help with it! This is so cool what we are learning.

In [1]:
# First step is importing the libraries I'll need to use:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# I may not need the charting functions right away, but I prefer to have all my imports at the top of my file, per best practices cited by codeup instructors.

In [2]:
# First, starting out with examples from the curriculum for purposes of better rention of topic.

In [3]:
np.random.seed(29)

In [27]:
quartile_array = np.array([1, 2, 3, 4, 5, 6, 7, 8])

In [28]:
np.quantile(quartile_array, 0.25)

2.75

In [31]:
# np.random.choice?

In [32]:
# Example of flipping an unfair coin 10,000 times. "Unfair" as in the definition set in my probabilities variable.

probabilities = [.75, .25]
flips = np.random.choice(["Heads", "Tails"], size = 10_000, p=probabilities)
(flips == "Heads").mean()

0.753

In [38]:
mean_num = 50
std_dev_num = 25
numbers = np.random.normal(mean_num, std_dev_num, size = 10000)
numbers = pd.Series(numbers)

In [40]:
numbers.mean

<bound method Series.mean of 0       47.100626
1       49.127286
2       20.553275
3       58.104817
4       48.670140
          ...
9995    64.030836
9996    57.717181
9997    70.174863
9998    72.704321
9999    33.394554
Length: 10000, dtype: float64>

In [23]:
# Now, on to the exercises for the Simulation lesson:

### 1. How likely is it that you roll doubles when rolling two dice?

In [64]:
# Setting up rolling the dice 10,000 times

# First I need to create a place (a variable) to store my die rolls (per die, since ultimately that's what I'm trying to compare):

die1 = np.random.choice([1, 2, 3, 4, 5, 6], size = 10_000)
die2 = np.random.choice([1, 2, 3, 4, 5, 6], size = 10_000)

In [58]:
# Now creating a boolean mask to return True or False depending on if the die rolls returns the same number.

die1 == die2

# And assigning that mask to a variable named doubles:
doubles = die1 == die2

In [59]:
# Nice little array I have of True/False observations.
doubles

array([False, False, False, ..., False, False,  True])

In [63]:
# Now find the sum / length, which is the average, ie, the CHANCE of the double number rolls:
# The quick way to do this is to use the .mean() function.

doubles.mean()

print(f'There is a {doubles.mean()} chance of the dice roll returning the same numbers.')

# Big thanks to Ryan for reminding me that since numpy uses arrays, I don't have to "manually" define a function that iterates through each observation. Numpy does that for me automatically. Cool!

There is a 0.1612 chance of the dice roll returning the same numbers.

### If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?

In [13]:
# So just like the prior problem, I need to setup variables to store the results for each coin I flip.
# coin1, coin2, etc.
# I'm only going to start with 100 coin tosses just to keep the numbers smaller for my understanding... then increase later.

coin1 = np.random.choice(["Heads", "Tails"], size = 100)
coin2 = np.random.choice(["Heads", "Tails"], size = 100)
coin3 = np.random.choice(["Heads", "Tails"], size = 100)
coin4 = np.random.choice(["Heads", "Tails"], size = 100)
coin5 = np.random.choice(["Heads", "Tails"], size = 100)
coin6 = np.random.choice(["Heads", "Tails"], size = 100)
coin7 = np.random.choice(["Heads", "Tails"], size = 100)
coin8 = np.random.choice(["Heads", "Tails"], size = 100)

In [14]:
# Visualizing what one of the coin toss result arrays looks like:

coin1

array(['Heads', 'Tails', 'Heads', 'Heads', 'Tails', 'Heads', 'Tails',
       'Heads', 'Heads', 'Heads', 'Tails', 'Heads', 'Tails', 'Heads',
       'Heads', 'Heads', 'Tails', 'Heads', 'Heads', 'Heads', 'Heads',
       'Tails', 'Tails', 'Tails', 'Heads', 'Heads', 'Tails', 'Heads',
       'Tails', 'Tails', 'Tails', 'Heads', 'Tails', 'Tails', 'Tails',
       'Tails', 'Tails', 'Heads', 'Heads', 'Tails', 'Tails', 'Heads',
       'Heads', 'Heads', 'Heads', 'Heads', 'Tails', 'Tails', 'Heads',
       'Tails', 'Heads', 'Heads', 'Tails', 'Tails', 'Tails', 'Heads',
       'Tails', 'Tails', 'Tails', 'Tails', 'Tails', 'Tails', 'Tails',
       'Heads', 'Tails', 'Heads', 'Tails', 'Heads', 'Heads', 'Heads',
       'Tails', 'Tails', 'Tails', 'Tails', 'Tails', 'Tails', 'Tails',
       'Tails', 'Heads', 'Tails', 'Heads', 'Heads', 'Tails', 'Heads',
       'Heads', 'Tails', 'Heads', 'Tails', 'Tails', 'Tails', 'Tails',
       'Tails', 'Heads', 'Heads', 'Tails', 'Heads', 'Tails', 'Tails',
       'Heads', 'Tails'], dtype='<U5')

In [15]:
# And for good measure confirming what the variable type is, which should be a numpy array:
type(coin1)

numpy.ndarray

In [16]:
# Now, in plain English, what I am trying to do is figure out a ratio which tells me how many times there were a set of flips in which 3 or fewer coins were showing heads.
# In other words, return True when 'Heads <= 3'


# test1 = lambda()... this is close but I need a full function. All the methods I tried with only lambda didn't work...

In [17]:
coin1[0] == coin2[0]

True

In [ ]:
# Thanks to fellow students, especially Sam on helping me through this one.

In [94]:
# If you flip 8 coins, what is the probability of getting exactly 3 heads? 
def heads_counter(coinflips):
    count = 0
    for result in coinflips:
        if result == 'heads':
            count += 1
    return count
n_sims = nrows = 10000
n_coins = ncols = 8
flips = np.random.choice(['heads', 'tails'], n_sims * n_coins).reshape(nrows, ncols)
flips_df = pd.DataFrame(flips)
flips_df.apply(lambda x: heads_counter(x) == 3, axis = 1).mean()

# Interestingly, when adding .mean() to the end of this last lamba apply it only counts the Trues, or 1s, in the resulting function result, but still averages it over the entire count of the rows. Boolean Masks are very powerful.

0.2142

In [5]:
# What is the probability of getting more than 3 heads?

def heads_counter(coinflips):
    count = 0
    for result in coinflips:
        if result == 'heads':
            count += 1
    return count
n_sims = nrows = 10000
n_coins = ncols = 8
flips = np.random.choice(['heads', 'tails'], n_sims * n_coins).reshape(nrows, ncols)
flips_df = pd.DataFrame(flips)
flips_df.apply(lambda x: heads_counter(x) > 3, axis = 1).mean()

0.6385

#### 3. There are approximately 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them?

In [10]:
# Going to use the same function as before, since that seems to be working.

def billboard(student):
    count = 0
    for result in student:
        if result == 'ds':
            count += 1
    return count

n_sims2 = nrows = 10_000
n_students = ncols = 2

billboards = np.random.choice(['web1', 'web2', 'web3', 'ds'], n_sims2 * n_students).reshape(nrows, ncols)
billboards_df = pd.DataFrame(billboards)
billboards_df.apply(lambda x: billboard(x) > 1, axis = 1).mean()

# So, same concept as before, but this time the columns were only 2, since that's the number of "outputs" that we were trying to test on. Not 4, because we took care of that within the random choice function.

0.058

#### 4. Codeup students buy, on average, 3 poptart packages (+- 1.5) a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon?

In [9]:
# Key on this one, don't return negative numbers... So I have to establish a baseline somewhere along in the function.

def pop_tarts(snack):
    count_snack = 0
    for x in snack:
        if result > 0:
            count_snack +=1
        return count_snack

In [18]:
n_sims3 = nrows = 10_000
n_vending = ncols = 1

In [ ]:
vending_machine = np.random.randn()

In [36]:
np.random.normal(loc = 4, scale = 1)

1.8374654406030504

In [37]:
np.random.randn()

-0.917495233200999

#### 6. When installing anaconda on a student's computer, there's a 1 in 250 chance that the download is corrupted and the installation fails. What are the odds that after having 50 students download anaconda, no one has an installation issue? 100 students?

In [47]:
# Using the same function/lambda combination.


anaconda = []

for x in range(0, 249):
    anaconda.append("not_corrupted " + str(x))
    
anaconda.append('Corrupted')

def corrupt_counter(downloads):
    count = 0
    for i in downloads:
        if i == 'Corrupted':
            count +=1
        return count

n_sims6 = nrows = 10000
n_downloads = ncols = 50

installs = np.random.choice(anaconda, n_sims6 * n_downloads).reshape(nrows, ncols)

installs_df = pd.DataFrame(installs)

installs_df.apply(lambda x: corrupt_counter(x) == 0, axis = 1).mean()

0.9963

In [41]:
installs_df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,not_corrupted 121,not_corrupted 35,not_corrupted 206,not_corrupted 245,not_corrupted 51,not_corrupted 209,not_corrupted 74,not_corrupted 186,not_corrupted 115,not_corrupted 55,...,not_corrupted 12,not_corrupted 146,not_corrupted 4,not_corrupted 197,not_corrupted 6,not_corrupted 175,not_corrupted 12,not_corrupted 172,not_corrupted 49,not_corrupted 24
1,not_corrupted 36,not_corrupted 56,not_corrupted 5,not_corrupted 45,not_corrupted 244,not_corrupted 5,not_corrupted 82,not_corrupted 46,not_corrupted 144,not_corrupted 185,...,not_corrupted 1,not_corrupted 13,not_corrupted 216,not_corrupted 127,not_corrupted 242,not_corrupted 113,not_corrupted 172,not_corrupted 39,not_corrupted 77,not_corrupted 26
2,not_corrupted 124,not_corrupted 40,not_corrupted 235,not_corrupted 53,not_corrupted 49,not_corrupted 185,not_corrupted 219,not_corrupted 35,not_corrupted 3,not_corrupted 214,...,not_corrupted 218,not_corrupted 196,not_corrupted 56,not_corrupted 137,not_corrupted 141,not_corrupted 59,not_corrupted 209,not_corrupted 130,not_corrupted 30,not_corrupted 70
3,not_corrupted 184,not_corrupted 86,not_corrupted 50,not_corrupted 102,not_corrupted 65,not_corrupted 182,not_corrupted 156,not_corrupted 17,not_corrupted 26,not_corrupted 31,...,not_corrupted 198,not_corrupted 15,not_corrupted 92,not_corrupted 239,not_corrupted 93,not_corrupted 141,not_corrupted 71,not_corrupted 217,not_corrupted 46,not_corrupted 116
4,not_corrupted 41,not_corrupted 15,not_corrupted 133,not_corrupted 179,not_corrupted 230,not_corrupted 236,not_corrupted 88,not_corrupted 204,not_corrupted 150,not_corrupted 35,...,not_corrupted 72,not_corrupted 188,not_corrupted 202,not_corrupted 222,not_corrupted 196,not_corrupted 214,not_corrupted 151,not_corrupted 138,not_corrupted 21,not_corrupted 167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,not_corrupted 39,not_corrupted 201,not_corrupted 141,not_corrupted 60,not_corrupted 19,not_corrupted 130,not_corrupted 195,not_corrupted 25,not_corrupted 241,not_corrupted 148,...,not_corrupted 222,not_corrupted 95,not_corrupted 35,not_corrupted 69,not_corrupted 143,not_corrupted 7,not_corrupted 34,not_corrupted 238,not_corrupted 108,not_corrupted 203
9996,not_corrupted 114,not_corrupted 152,not_corrupted 218,not_corrupted 178,not_corrupted 153,not_corrupted 214,not_corrupted 87,not_corrupted 229,not_corrupted 243,not_corrupted 105,...,not_corrupted 64,not_corrupted 227,not_corrupted 43,not_corrupted 34,not_corrupted 175,not_corrupted 162,not_corrupted 149,not_corrupted 73,not_corrupted 122,not_corrupted 155
9997,not_corrupted 85,not_corrupted 46,not_corrupted 55,not_corrupted 65,not_corrupted 210,not_corrupted 137,not_corrupted 223,not_corrupted 80,not_corrupted 133,not_corrupted 93,...,not_corrupted 189,not_corrupted 196,not_corrupted 245,not_corrupted 82,not_corrupted 25,not_corrupted 68,not_corrupted 46,not_corrupted 206,not_corrupted 106,not_corrupted 106
9998,not_corrupted 245,not_corrupted 241,not_corrupted 149,not_corrupted 126,not_corrupted 159,not_corrupted 17,not_corrupted 137,not_corrupted 91,not_corrupted 197,not_corrupted 235,...,not_corrupted 38,not_corrupted 220,not_corrupted 184,not_corrupted 218,not_corrupted 198,not_corrupted 159,not_corrupted 53,not_corrupted 33,not_corrupted 144,not_corrupted 26
9999,not_corrupted 128,not_corrupted 85,not_corrupted 215,not_corrupted 100,not_corrupted 119,not_corrupted 231,not_corrupted 167,not_corrupted 115,not_corrupted 209,not_corrupted 31,...,not_corrupted 80,not_corrupted 126,not_corrupted 133,not_corrupted 26,not_corrupted 247,not_corrupted 93,not_corrupted 60,not_corrupted 124,not_corrupted 100,not_corrupted 83